body {
    background-color: #202124;
    color: #bdc6d4;
}

h1 {
    color: #edebeb;
}

input {
    background-color: #373b3e !important;
    color: #a7a7a7 !important;
    border: solid red 5px;
}

table {
    border: 1px solid #9ca3af;
    width: 100%;
}

th {
    background-color: #18181a;
    color: rgb(203, 203, 203);
    font-weight: 600;
    letter-spacing: 2px;
}

th:hover {
    cursor: pointer;
    background-color: #27272a;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #9ca3af;
}

tr:hover { background-color: #2c2c32; }

.my-btn {
    background-color: #02536c;
    color: #eee;
}

.my-btn:hover {
    background-color: #00353f;
    color: #eee;
}

.form-group label {
    letter-spacing: 1.5px;
}
